<div class="row" *ngIf="cartProducts.length; else elseBlock">
  <div class="col-sm-12 col-md-6">
    <app-cart-item
      *ngFor="let cartProduct of cartProducts"
      [cartProduct]="cartProduct"
      (updateQuantity)="updateQuantity(cartProduct)"
    ></app-cart-item>
    <div class="row cart-item mb-4">
      <div class="col d-flex justify-content-center">
        <h1>Total: {{ cartTotal | currency: "USD" }}</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <app-cart-checkout-form
      (updateCheckout)="updateCheckout($event)"
    ></app-cart-checkout-form>
  </div>
</div>

<ng-template #elseBlock>
  <app-checkout-success
    *ngIf="showSuccessPage"
    [checkOutData]="checkOutData"
  ></app-checkout-success>
  <div class="row" *ngIf="!showSuccessPage">
    <div class="col-sm-12">
      <h1>Cart is Empty!</h1>
    </div>
  </div>
</ng-template>
