<div class="row cart-item mb-4">
  <div class="col d-flex justify-content-end mx-4">
    <img src="{{ cartProduct.url }}" class="img-fluid rounded" alt="image" />
  </div>
  <div class="col">
    <h1>{{ cartProduct.name }}</h1>
    <strong>${{ cartProduct.price }}</strong>
    <div class="d-flex align-items-center">
      <span class="mr-2">Amount:</span>
      <input
        name="quantity"
        type="number"
        class="form-control"
        min="0"
        max="10"
        step="1"
        [(ngModel)]="cartProduct.quantity"
        (ngModelChange)="updateQuantity($event)"
      />
    </div>
  </div>
</div>
