<div class="row cart-item mb-4">
  <div class="col-sm-12 col-md-4 d-flex justify-content-center">
    <img src="{{ cartProduct.url }}" class="img-fluid rounded" alt="image" />
  </div>
  <div class="col-sm-12 col-md-8">
    <h1>{{ cartProduct.name }}</h1>
    <strong>{{ cartProduct.price | currency: "USD" }}</strong>
    <div class="d-flex align-items-center">
      <span class="mr-2">Amount:</span>
      <input
        name="quantity"
        type="number"
        class="form-control"
        min="0"
        max="10"
        step="1"
        [(ngModel)]="cartProduct.quantity"
        (ngModelChange)="updateCartProductQuantity($event)"
        onKeyDown="return false"
      />
    </div>
    <button
      type="button"
      class="btn btn-link"
      (click)="updateCartProductQuantity(0)"
      style="padding: '10px 0'"
    >
      Remove
    </button>
  </div>
</div>
