<div class="col mb-5 product-item">
  <div class="card h-100 position-relative shadow">
    <a routerLink="/products/{{ product.id }}">
      <img
        src="{{ product.url }}"
        class="card-img-top"
        alt="{{ product.name }}"
      />
      <span class="position-absolute badge bg-warning text-dark price-badge"
        >{{ product.price }} $</span
      >
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
      </div>
    </a>
    <div class="card-footer">
      <form
        class="d-flex justify-content-between"
        (ngSubmit)="submitAddToCartForm()"
      >
        <select
          class="form-control"
          style="max-width: '50%'"
          [(ngModel)]="quantity"
          name="quantity"
          (ngModelChange)="updateQuantity($event)"
        >
          <option *ngFor="let quantity of quantities" [ngValue]="quantity">
            {{ quantity }}
          </option>
        </select>
        <!-- <input
          name="quantity"
          type="number"
          class="form-control"
          min="0"
          max="10"
          step="1"
          style="max-width: '50%'"
          [(ngModel)]="product.quantity"
        /> -->

        <!-- [disabled]="product.quantity === null || product.quantity === 0" -->
        <button class="btn btn-primary">Add to cart</button>
      </form>
    </div>
  </div>
</div>
