<div class="col mb-5 product-item">
  <div class="card h-100 position-relative shadow">
    <a routerLink="/products/{{ product.id }}">
      <img
        src="{{ product.url }}"
        class="card-img-top"
        alt="{{ product.name }}"
      />
      <span class="position-absolute badge bg-warning text-dark price-badge"
        >{{ product.price | currency: "USD" }}
      </span>
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
      </div>
    </a>
    <div class="card-footer">
      <app-add-to-cart-form [product]="product"></app-add-to-cart-form>
    </div>
  </div>
</div>
