<div class="row product-item-detail">
  <div class="col">
    <img
      src="{{ product.url }}"
      class="img-fluid rounded"
      alt="{{ product.name }}"
    />
  </div>
  <div class="col align-self-center">
    <h1>{{ product.name }}</h1>
    <strong>${{ product.price }}</strong>
    <p>{{ product.description }}</p>
    <div class="cart-form">
      <app-add-to-cart-form [product]="product"></app-add-to-cart-form>
    </div>
    <a class="d-block text-primary mt-2" routerLink="/"
      ><span style="font-size: '20px'">&#8592; Back to product list</span></a
    >
  </div>
</div>
