<div class="row product-item-detail">
  <div class="col">
    <img
      src="{{ product.url }}"
      class="img-fluid rounded"
      alt="{{ product.name }}"
    />
  </div>
  <div class="col align-self-center">
    <h1>{{ product.name }}</h1>
    <strong>${{ product.price }}</strong>
    <p>{{ product.description }}</p>
    <input
      type="number"
      class="form-control mb-3"
      min="1"
      max="10"
      style="max-width: '50%'"
    />
    <button class="btn btn-primary mb-3">Add to cart</button>
    <a class="d-block text-primary" routerLink="/"
      ><span style="font-size: '20px'">&#8592; Back to product list</span></a
    >
  </div>
</div>
